init() {
    if ! command -v ws >/dev/null 2>&1; then
        return
    fi

    wspath=$(ws root) || {
        echo "error: could not determine project root" >&2
        return
    }

    if [[ ! -d "${wspath}/.ws/bin" ]]; then
        echo "error: workspace root is empty" >&2
        return
    fi

    [ ! -d .direnv ] && mkdir .direnv

    if [ ! -e .direnv/bin ]; then
        ln -s "${wspath}/.ws/bin" .direnv/bin
    fi

    if [[ -d "${wspath}/.ws/bin" ]]; then
        PATH_add .direnv/bin
    fi
}

init
